<ion-header>
  <ion-navbar>
    <ion-title>Lobby</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="chatMessages">
    <!-- <div *ngFor="let messagess of messages"> -->
      <div *ngFor="let message of messages" [class]="message[0].specialMessage ? 'message special' : 'message'">
        <div [class]="message[0].username != username ? 'innerMessage messageLeft' : 'innerMessage messageRight'">
          <div class="username">{{ message[0].username }}</div>
          <div class="messageContent">{{ message[0].message }}</div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</ion-content>

<ion-footer>
  <div id="footer">
    <div class="elem">
      <ion-input type="text" [(ngModel)]="message"></ion-input>
    </div>
    <div class="elem"><button ion-button icon-only (click)="sendMessage()"><ion-icon name="send"></ion-icon></button></div>
  </div>
</ion-footer>
